@page "/Particular/Index"
@using RenzGrandWeddingblazor.ph.ViewModels 
 @using RenzGrandWeddingblazor.ph.Data.Entities
@using Newtonsoft.Json
@using codegeneratorlib.Helpers
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;

<PageTitle>List Page</PageTitle>

<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Particular Master List</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content js-Particular-main-container">					
					
						<div class="row">
							<!--BUTTON TOP-->
							<div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-warning btn-custom float-end" id="js-export-Particular" style="margin-left:10px;" @onclick="()=>ExportFile()"><i class="fa fa-download"></i> Export Data</button>
                                <button class="btn btn-primary btn-custom float-end popup" @onclick="()=>OpenModal(0)"><i class="fa fa-plus"></i> Create New</button>
                            </div>

							<div class="col-md-12 col-sm-12 col-xs-12 divider-dashed">
                                <hr />
                            </div>

							<!--SEARCH AREA-->
							<form class="form-horizontal" id="search-Particular-form" @onsubmit="()=>SearchParticular()">
								<div class="col-md-12 col-sm-12 col-xs-12 form-group">
									<label>Search by: (ParticularName, ParticularDescription)</label>
								<input class="form-control" id="js-Keyword-search" @bind="searchInfo.Keyword" />
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label>Page Size:</label>
									<select class="form-control" id="js-page-size" @bind="PageSize">
										<option disabled>Max rows</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin-top:10px;">
									<button type="submit" class="btn btn-primary btn-custom"><i class="fa fa-search"></i> Search</button>
								</div>
							</form>

                        <ParticularModal @ref="modalRef" ModalTitle="Particular">
                            <p>This is modal content.</p>
                        </ParticularModal>
                        </div>

						<div class="row">
							<!--BULK BUTTON-->
							<div class="col-md-12 col-sm-12 col-xs-12" style="display:none" id="js-delete-container">
								<button class="btn btn-primary btn-md btn-custom fa fa-trash" id="js-delete-bulk">Delete</button>
							</div>
                             @if (pParticulars == null)
                             {
                                 <br />
                                 <p>Loading..</p>
                             }
                             else
                             {
							<!--DATA TABLE-->
							<div class="col-md-12 col-sm-12 col-xs-12 js-Particular-list-container">
								<table class="table table-bordered bulk_action" id="js-table-Particular" style="margin-top:10px;">
									<thead>
										<tr>
											<th class="column-title"><input type="checkbox" id="check-all" /></th>
											<th class="column-title">Particular Name</th>
											<th class="column-title">Particular Description</th>
											<th class="column-title no-link last"><span class="nobr">Action</span></th>
										</tr>
									</thead>
									<tbody id="js-load-Particular-row">
                                    @foreach (var Particular in pParticulars.List)
                                     {
                                       <tr id="selected-row-particularid">
								<td><input type="checkbox" class="js-chk-bulk" data-id=''></td>
									<td>@Particular.ParticularName</td>
									<td>@Particular.ParticularDescription</td>
									<td><a href="/Particular/Details/@Particular.ParticularId" class="popup"><i class="fa fa-info-circle"></i></a> <a style="cursor:pointer" @onclick="()=>OpenModal(Particular.ParticularId)" class="popup"><i class="fa fa-edit"></i></a> <a @onclick="()=>DeleteParticular(Particular.ParticularId)" style="cursor:pointer" id="js-Particular-delete" data-id="ParticularId"><i class="fa fa-trash-o"></i></a></td>
								</tr>
                                     }
									</tbody>
								</table>
							</div>

							 <!--PAGINATION AND SUMMARY-->
							<div class="col-md-12 col-sm-12 col-xs-12 js-pagination-Particular" style="margin-top:-27px;">

								<div id="js-page-history" style="float:left;margin-top:25px;color:#cc503b;">
									<!--PAGINATION HISTORY-->
                                    @pParticulars?.PageSummary
								</div>

								<div style="float:right;margin-top:20px;">
									<ul class="pagination pagination-md" id="js-ul-pagination">
                                    <!--LOAD PAGINATION-->
                                    @* <li id="js-prev-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationPrev()">&laquo;</a></li> *@
                                    @for (var i = 0; i < @pParticulars?.PageIndices?.Count(); i++)
                                    {
                                        var pageNum = @pParticulars?.PageIndices?.ToArray()[i];

                                        <li id="js-li-count-@pageNum" class="check page-item li-children-ref" data-id="@pageNum">
                                            <a style="cursor:pointer;" class="page-link" id="click-User-pagination-@pageNum" @onclick="()=>ClickPagination(pageNum)" data-id="@pageNum">
                                                @pageNum
                                            </a>
                                        </li>
                                    }
                                    @* <li id="js-next-btn"><a class="page-link" style="cursor:pointer;" @onclick="()=>ClickPaginationNext()">&raquo;</a></li> *@
									</ul>
							   </div>
						</div>
                       }
                       
					</div>
				</div>
            </div>
        </div>
    </div>
</div>



@code {
    private ParticularSearch searchInfo = new();
    private Pagination<ParticularVM> pParticulars;
    private ParticularVM oParticularVM = new();
    private string responseMessage;
    private int PageSize = 10;
    private int CurrentPage = 1;

    private ParticularModal modalRef;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(1000);

        var search = new ParticularSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadParticular(CurrentPage, PageSize, search);
        pParticulars = list;
    }

    private async Task ExportFile()
    {
        var restService = new RestService<ExcelData>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<ExcelData>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Particulars/export/report");
        if (!result.IsSuccess)
        {
        }
        else
        {
            var file = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8;base64,{result.Data.File}";

            NavigationManager.NavigateTo(file);
        }
    }

    private async Task<Pagination<ParticularVM>> LoadParticular(int? currpage, int pagesize, ParticularSearch search)
    {
        var restService = new RestService<Pagination<ParticularVM>>();
        //var json = JsonConvert.SerializeObject(search);
        var result = new ServiceModel<Pagination<ParticularVM>>();
        result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Particulars/List/Page{currpage}/PageSize{pagesize}?Keyword={search?.Keyword}");
        if (!result.IsSuccess)
        {
            return pParticulars = null;
        }
        else
        {
            return pParticulars = result.Data;
        }
    }

    private async Task OpenModal(int id)
    {
        await modalRef.Show(id);
    }

    private async Task SearchParticular()
    {
        var search = new ParticularSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadParticular(CurrentPage, PageSize, search);
        pParticulars = list;

        StateHasChanged();
    }

    private async Task CreateParticular()
    {
        var restService = new RestService<List<ParticularVM>>();
        var result = new ServiceModel<List<ParticularVM>>();

        var json = JsonConvert.SerializeObject(oParticularVM);

        result = await restService.Post($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Particulars/add", json);

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
        }
        else
        {
            var search = new ParticularSearch();
            search.Keyword = searchInfo?.Keyword;
            var list = await LoadParticular(CurrentPage, PageSize, search);
            pParticulars = list;
        }

        StateHasChanged();
    }

    private async Task UpdateParticular()
    {
        var restService = new RestService<List<ParticularVM>>();

        var json = JsonConvert.SerializeObject(oParticularVM);

        var result = new ServiceModel<List<ParticularVM>>();

        result = await restService.Post($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Particulars/update", json);

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
        }
        else
        {
            var search = new ParticularSearch();
            search.Keyword = searchInfo?.Keyword;
            var list = await LoadParticular(CurrentPage, PageSize, search);
            pParticulars = list;
        }

        StateHasChanged();
    }

    public async Task DeleteParticular(int id)
    {
        var restService = new RestService<List<ParticularVM>>();

        var result = new ServiceModel<List<ParticularVM>>();

        result = await restService.Delete($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/Particulars/{id}/delete");

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
        }
        else
        {
            var search = new ParticularSearch();
            search.Keyword = searchInfo?.Keyword;
            var list = await LoadParticular(CurrentPage, PageSize, search);
            pParticulars = list;
        }

        StateHasChanged();
    }

    private async Task ClickPagination(int? elementId)
    {
        var currrentPage = elementId;
        var search = new ParticularSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadParticular(currrentPage, PageSize, search);
        pParticulars = list;
        StateHasChanged();
    }

    private async Task ClickPaginationPrev()
    {
        var currrentPage = CurrentPage - 1;
        var search = new ParticularSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadParticular(currrentPage, PageSize, search);
        pParticulars = list;
        StateHasChanged();
    }

    private async Task ClickPaginationNext()
    {
        var currrentPage = CurrentPage + 1;
        var search = new ParticularSearch();
        search.Keyword = searchInfo?.Keyword;
        var list = await LoadParticular(currrentPage, PageSize, search);
        pParticulars = list;
        StateHasChanged();
    }
}