@using RenzGrandWeddingblazor.ph.ViewModels
@using codegeneratorlib.Helpers
@using Newtonsoft.Json
@rendermode InteractiveServer
@inject NavigationManager NavigationManager;

<!-- Modal.razor -->
<div class="modal-backdrop" style="@(_isVisible ? "display: block;" : "display: none;")">
    <div class="modal-container">
        <div class="modal-header">
            <h5>@ModalTitle</h5>
            <button class="close" @onclick="Hide">×</button>
        </div>

        <EditForm class="form-horizontal form-label-left" id="Pullout-form" Model="oProductLineVM" OnValidSubmit="()=>SendRequest()">
            <div class="modal-body">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @if (!string.IsNullOrEmpty(responseMessage))
                {
                    <div class="alert alert-success" role="alert">
                        @responseMessage
                    </div>
                }
                <input type="hidden" @bind="oProductLineVM.ProductLineId" id=js-productlineid />

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Product Line Code</label>
                    <input @bind="oProductLineVM.ProductLineCode" id="js-productlinecode" class="form-control" />

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label>Product Line Name</label>
                    <input @bind="oProductLineVM.ProductLineName" id="js-productlinename" class="form-control" />

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <a href="/ProductLine/Index" @onclick="Hide" class="btn btn-danger btn-custom float-md-end" style="margin-left:10px;">
                        <i class="fa fa-close"></i> Cancel Request
                    </a>
                    @if (Loading)
                    {
                        <button class="btn btn-primary btn-custom float-md-end" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-custom float-md-end" type="submit">
                            <i class="fa fa-save"></i> Submit Request
                        </button>
                    }
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string responseMessage = "";
    private bool Loading = false;
    private bool _isVisible;

    [Parameter] 
    public string ModalTitle { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private ProductLineVM oProductLineVM = new();

    //file upload
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        var bytes = $"{file.Name},{Convert.ToBase64String(buffer)}";
    }

    public async Task Show(int id)
    {
        responseMessage = "";
        _isVisible = true;

        if (id == 0)
        {
            oProductLineVM = new();
        }
        else
        {
            var restService = new RestService<ProductLineVM>();
            var result = new ServiceModel<ProductLineVM>();
            result = await restService.Get($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/ProductLines/GetById/{id}");
            if (!result.IsSuccess)
            {
                responseMessage = "Error while fetching data, Contact the administrator";
            }
            else
            {
                oProductLineVM = result.Data;
            }
        }
    }

    public void Hide()
    {
        _isVisible = false;
    }

    private async Task SendRequest()
    {
        Loading = true;
        var restService = new RestService<List<ProductLineVM>>();

        var json = JsonConvert.SerializeObject(oProductLineVM);

        var result = new ServiceModel<List<ProductLineVM>>();

        if (oProductLineVM.ProductLineId != 0)
        {

            result = await restService.Post($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/ProductLines/Update", json);
        }
        else
        {

            result = await restService.Post($"{AppHelper.CDNFTPConfiguration.PublicHost}/api/ProductLines/Add", json);
        }

        if (!result.IsSuccess)
        {
            responseMessage = result.Error;
        }
        else
        {
            responseMessage = "Request has been successfully submitted!";
            oProductLineVM = new();
        }

        Loading = false;
        //responseMessage = "";
        StateHasChanged();
    }

}

