@page "/"

<PageTitle>Home</PageTitle>


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h5><strong><i>Build a LowCode/ NoCode Application</i></strong></h5>
        </div>
        <hr />
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px;">
            <div class="x_panel">
                <div class="x_content Title-container">

                    <div class="row">
                        <div id="carouselExampleIndicators" class="col-md-12 col-sm-12 col-xs-12 carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>

                            </div>
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img src="SetupConfig.png" type="image/png" alt="Setup Configuration" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Setup your Configuration</h5>
                                        <p>Setup your project configuration</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="ScaffoldDB.png" type="image/png" alt="Scaffold DB" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Scaffold DB Context</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="StepEnumeration.png" type="image/png" alt="Enumeration" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Generate Enumeration</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="step1.png" type="image/png" alt="ViewModels" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Generate ViewModels</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="step2.png" type="image/png" alt="Design Pattern" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Generate Design Pattern</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="step3.png" type="image/png" alt="API Controllers" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Generate API Controllers</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="step4.png" type="image/png" alt="VIEWS" class="d-block w-100" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Generate Views and Components</h5>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

